    
   <div class="search">
       <div>
            <img src="/img/google.png" alt="Google Logo" />
            <div class="input-form pt-0" >
                <form action="/results" method="POST">
                    <input class="search-input" type="search" name="search" />
                    <button class="searchButton" type="submit">Search</button>
                </form>               
            </div>      
        </div>  
    </div>