    
   <div class="search">
       <div>
            <img src="/img/google.png" alt="Google Logo" />
            <div class="input-form">
                <form action="index.html" method="post">
                <input class="search-input" type="search" name="searchBar" />
                <button class="searchButton">Search</button>
                </form>                
            </div>      
        </div>  
    </div>